.panel-header {
    display: flex;
    box-sizing: border-box;
    justify-content: start;
    align-items: center;

    padding: 10px 20px;
    column-gap: 10px;

    background-color: var(--panel-header-background);
}

.panel-header_collapsed.panel-header_use-vertical-align {
    display: flex;
    flex-direction: row;
    
    writing-mode: vertical-lr;
}

.panel-header__title {
    text-transform: uppercase;

    font-size: var(--panel-header-font-size);
    font-weight: bold;
    font-family: var(--panel-header-font-family);
    color: var(--panel-header-color);
}

.panel-header__toolbar {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2px
}

.panel-header__toolbar-command {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--toolbarIcon-width);
    height: var(--toolbarIcon-height);
}
