body, html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

:root {
    position: relative;
    min-height: 100%;

    --activity-bar-background: rgb(54, 67, 70);
    --activity-bar-border-color: rgb(41, 53, 56);
    
    --activity-bar-item-background-hovered: rgb(44, 57, 60);
    --activity-bar-item-background-active: rgb(32, 41, 43);
    --activity-bar-item-fill: rgb(155, 158, 154);
    --activity-bar-item-fill-active: white;
    
    --side-bar-panel-background: rgb(54, 67, 70);
    --side-bar-panel-collapsed-background: rgb(41, 53, 56);

    --file-explorer-background: rgb(41, 53, 56 );

    --resize-panel-background: rgb(54, 67, 70);
    --resize-panel-background-hovered: rgb(107, 181, 255);

    --tree-item-hover: rgb(134, 134, 134);
    --tree-item-selected: rgb(30, 30, 30);
    --tree-item-iconSize: 16px;

    --panel-header-background: rgb(41, 53, 56);
    --panel-header-color: white;
    --panel-header-font-size: 12px;
    --panel-header-font-family: Arial, Helvetica, sans-serif;

    --icon-fill-color: #D9D9D9;
    --icon-stroke-color: #D9D9D9;
    --icon-hovered-fill-color: #B8B8B8;
    --icon-stroke-color: #B8B8B8;
    --icon-disabledColor: #8f8f8f;

    --text-font-family: 'Times New Roman', Helvetica, sans-serif;

    --toolbarIcon-width: 16px;
    --toolbarIcon-height: 18px;

    --context-backgroundColor: #20292B;
    --context-itemBackgroundColorHovered: #5B7073;
    --context-itemTextColor: #9BA1A3;
    --context-ItemTextColorHover: white;

    --dialog-backgroundColor: rgb(54, 67, 70);

    --text-color: #B8B8B8;
}

.NodtharEngine {
    display: flex;

    min-height: 100vh;
    justify-content: start;
    align-items: stretch;

    user-select: none;
}

.main-section {
    flex: 1 1 auto;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
}

#overlay {
    position: relative;
}
