.ui-component-tree-view-item__item_selected {
    background-color: var(--tree-item-selected);
}

.ui-component-tree-view-item__header

.ui-component-tree-view-item__header {
    display: flex;
    column-gap: 10px;
}

.ui-component-tree-view-item__header:hover {
    border-radius: 6px;
    background-color: var(--tree-item-hover);
}

.ui-component-tree-view-item__children {
    padding-left: 15px;
}
