.editor-viewer {
    flex: 1 1 auto;

    background-color: var(--editorViewer-defaultEditorBackground);
}

.tabbar-panel {
    display: flex;
    justify-content: flex-start;

    height: 36px;
    background-color: var(--editorViewer-tabbarPanel-color);

    position: relative;
    z-index: 2;
}

.tabbar-item {
    flex-shrink: 1;
    box-sizing: border-box;

    display: flex;
    align-items: center;

    padding: 2px 5px;
    gap: 10px;

    color: black;
    background-color: var(--editorViewer-tabbarItem-color);
    border-left: 0.5px solid rgba(255, 255, 255, 0.416);
    border-right: 0.5px solid rgba(255, 255, 255, 0.416);

    cursor: pointer;

    &__close-button {
        visibility: hidden;
        width: 16px;
        height: 16px;

        & svg {
            fill: #969696;
        }
    }

    &__label {
        flex: 1 1 auto;
    }

    &:hover &__close-button {
        visibility: visible;
    }

    &_active {
        color: orange;
        background-color: var(--editorViewer-tabbarItemActive-color) !important;
        border: unset;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        &:hover {
            background-color: var(--editorViewer-tabbarItemActive-colorHover);
        }
    }
}

.text-editor {
    min-height: 100%;
    background: url('https://i.pinimg.com/originals/88/77/e7/8877e7792afbc9cfc2a91b3532969173.jpg');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
