.named-panel {
    position: relative;
    background-color: var(--side-bar-panel-background);
}

.collapsed-panel {
    position: relative;
    
    width: 100%;
    min-height: 40px;
    
    background-color: var(--side-bar-panel-collapsed-background);
}

.collapsed-panel_use-vertical-align {
    width: 56px;
    min-height: 100%;
}
