.blueprint-editor {
    position: relative;
    min-height: 100%;

    &_place-node {
        cursor: copy;
    }

    &_draggable {
        cursor: grab;
    }

    &_create-link {
        cursor: no-drop;

        .blueprint-node {
            cursor: no-drop;
        }

        .blueprint-node-pipeline-points__pipeline-input {
            cursor: pointer;
        }

        .blueprint-node-pipeline-points__pipeline-output {
            cursor: no-drop;
        }
    }

    &__command-panel {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 5px;

        top: 10px;
        right: 10px;
        
        width: fit-content;
    }

    &__command {
        display: flex;
        align-items: center;
        justify-content: center;

        &_centering {
            width: 26px;
            height: 26px;
        }
    }
}

.blueprints-list-view {
    width: 250px;
    
    padding: 5px;
    border: 1px solid black;
    border-radius: 2px;

    background-color: #1D1C1D;

    color: var(--text-color);
    font-family: var(--text-font-family);

    &__header {
        padding: 4px 5px;
        font-weight: bold;

        border-bottom: 1px solid black;
    }
}

.blueprints-list-view-group {
    &__label {
        @extend %context-menu-item;
    }

    &__content {
        margin-left: 16px;
    }
}

.blueprint-group-item {
    @extend %context-menu-item;

    display: flex;
    align-items: center;
    gap: 5px;

    font-family: Arial, Helvetica, sans-serif;

    &__icon {
        width: 16px;
        height: 16px;
    }

    &:hover {
        background-color: var(--tree-item-hover);
    }
}

.blueprint-node {
    position: absolute;

    min-width: 150px;
    max-width: 250px;
    border-radius: 6px;

    background-color: #171816;

    cursor: pointer;

    &_draggable {
        cursor: grab;
    }

    &__header {
        padding: 5px 5px;

        border-radius: 6px 6px 0px 0px;

        &_event {
            background-color: rgb(211, 22, 22);
        }

        &_functional-node {
            background-color: #477498;
        }

        &_transformation-node {
            background-color: #D2A309;
        }
    }

    &__title {
        color: white;
    }

    &__description {
        font-size: 0.7em;
        color: var(--text-color);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .blueprint-node-pipeline-points {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 10px 10px;
    }

    &__body {
        padding: 10px 5px;
        min-height: 20px;
    }
}

.blueprint-pipeline-link {
    position: absolute;

    height: 16px;
    border-radius: 8px;

    background-color: white;
}

.pipeline-icon {
    fill: none;
    stroke: var(--icon-fill-color);

    &:hover {
        fill: unset;
        stroke: var(--icon-hovered-fill-color);
    }

    &_linked {
        fill: var(--icon-fill-color);
        stroke: var(--icon-fill-color);

        &:hover {
            fill: var(--icon-hovered-fill-color);
            stroke: var(--icon-hovered-fill-color);
        } 
    }
}

%context-menu-item {
    padding: 2px 5px;
    border-radius: 2px;

    font-size: 0.9em;

    cursor: pointer;

    &:hover {
        background-color: var(--tree-item-hover);
    }
}
