.resizable-panel {
    display: flex;
    text-align: left;

    position: relative;

    flex-wrap: nowrap;

    overflow-x: hidden;
    text-overflow: ellipsis;
}

.resizable-panel_direction-vertical {
    align-items: stretch;
}

.resizable-panel_direction-horizontal {
    justify-content: stretch;
}

.resizable-panel_resize-panel-position-top {
    flex-direction: column;
    top: 0
}

.resizable-panel_resize-panel-position-bottom {
    flex-direction: column-reverse;
    bottom: 0;
}

.resizable-panel_resize-panel-position-right {
    flex-direction: row-reverse;
    right: 0;
}

.resizable-panel_resize-panel-position-left {
    flex-direction: row;
    left: 0;
}

.resizable-panel_resize-panel-position-top .resizable-panel__resize-bar {
    top: 0
}

.resizable-panel_resize-panel-position-bottom  .resizable-panel__resize-bar{
    bottom: 0;
}

.resizable-panel_resize-panel-position-right .resizable-panel__resize-bar {
    right: 0;
}

.resizable-panel_resize-panel-position-left .resizable-panel__resize-bar {
    left: 0;
}

.resizable-panel__resize-bar {
    position: absolute;
    background-color: var(--resize-panel-background);
}

.resizable-panel__resize-bar:hover {
    background-color: var(--resize-panel-background-hovered);
}

.resizable-panel_direction-vertical .resizable-panel__resize-bar {
    width: 2px;
    min-height: 100%;

    cursor: col-resize;
}

.resizable-panel_direction-vertical .resizable-panel__resize-bar:hover {
    width: 4px;
}

.resizable-panel_direction-horizontal .resizable-panel__resize-bar {
    height: 2px;
    min-width: 100%;

    cursor: row-resize;
}

.resizable-panel_direction-horizontal .resizable-panel__resize-bar:hover {
    height: 4px;
}

.resizable-panel__content {
    flex: 1 1 auto;
    min-width: 50px;
}

.resizable-panel_vertical .resizable-panel__content {
    min-height: 100%;
}

.resizable-panel_horizontal .resizable-panel__content {
    min-width: 100%;
}
