.dialog-widget {
    position: absolute;
    z-index: 20;

    &_styled {
        width: 50%;

        top: 10px;
        left: 50%;
        transform: translate(-50%);

        border-radius: 8px;

        background-color: var(--dialog-backgroundColor);
        box-shadow: 0 0 10px 5px rgba(169, 169, 169, 0.614);
    }

    &__title {
        text-align: center;
        font-weight: bold;

        font-size: 1.2em;

        color: var(--text-color);
    }

    &__description {
        padding: 5px 10px;
        color: var(--text-color);
    }
}

.context-menu {
    background-color: var(--context-backgroundColor);

    &-item {
        display: flex;

        padding: 5px 15px;
        min-width: 150px;

        cursor: pointer;

        color: var(--context-itemTextColor);

        &__title {
            flex: 1 0 auto;
        }

        &:hover {
            background-color: var(--context-itemBackgroundColorHovered);
            color: var(--context-ItemTextColorHover);
        }
    }
}

.input-dialog {
    margin: 5px;

    input {
        box-sizing: border-box;
        width: 100%;

        border-radius: 4px;
        line-height: 20px;
    }
}

.quick-input-dialog {
    margin: 5px;

    .__input {
        width: 100%;
        box-sizing: border-box;

        border-radius: 4px;
        line-height: 20px;

        margin: 2px;
    }

    &__list {
        width: 100%;
        box-sizing: border-box;

        max-height: 250px;
        overflow: auto;
    }
}

.quick-input-item {
    display: flex;
    align-items: center;
    gap: 5px;

    height: 24px;

    border-radius: 4px;
    cursor: pointer;

    color: var(--list-item-text-color);

    &__icon {
        width: 16px;
        height: 16px;
    }

    &__description {
        font-size: 0.8em;
    }

    &:hover {
        color: white;

        background-color: var(--list-item-color-hover);
    } 
}

.upload-files-dialog {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;

    background-image: url('./upload-background.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 15%;

    margin: 5px;

    height: 300px;

    &__view-button {
        cursor: pointer;
        min-width: 100px;
        padding: 10px 5px;
        margin-bottom: 10px;
        border-radius: 6px;

        text-align: center;

        background-color: orange;
        color: black;

        input[type="file"] {
            display: none;
        }
    }

    &__drop-area {
        margin: 10px;

        width: 100%;
        height: 100px;
        box-sizing: border-box;

        display: flex;
        justify-content: center;
        align-items: center;

        border: 6px dashed #e2e2e2;

        color: var(--text-color);
        font-family: var(--text-font-famiy);

        font-size: 1.2em;

        &_dragable {
            border: 6px solid rgb(58, 160, 255);
        }
    }
}
